@import url('https://fonts.googleapis.com/css2?family=Quicksand|EB+Garamond');
html, body {
  margin: 0;
  width: 100%;

  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'EB Garamond', serif;
  padding: 24px 0 6px;
}

* {
  box-sizing: border-box;
}
